html,
body,
header {
    
    height: 100%;
    background-color: rgba(183, 231, 182, 0.155);
}

header{
    background-image: url("olive.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar{
    background-color: rgb(155, 182, 107, 0.8);
}
.nav-link{ 
    margin-right: 1em; 
}

.nav-link , .navbar-brand { 
    color: #081f0b; 
    cursor: pointer;
}


.nav-link:hover, .navbar-brand:hover{ 
    
    color: #374603cb; 
}

.navbar-toggler{
    
    justify-self: end;
}


